[Unit]
Description='ready' status indicator LED
After=fbgpsclock.service chrony.service gpsd.service gpsd.socket
Requires=fbgpsclock.service chrony.service gpsd.service gpsd.socket

[Service]
Type=oneshot
ExecStart=gpioset 0 19=0
ExecStop=gpioset 0 19=1
RemainAfterExit=yes

[Install]
WantedBy=ready.target
